DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.6udlrbz.mongodb.net/internshala?appName=Cluster0"
EMAIL_USER="<your_email>"
EMAIL_PASS="<your_email_app_password>"
RAZORPAY_KEY_ID="<your_razorpay_test_key_id>"
RAZORPAY_KEY_SECRET="<your_razorpay_test_key_secret>"
SERVER_BASE_URL="http://localhost:5001"
